<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chain.modules.app.dao.EthUsdtUserEntityMapper">
  <resultMap id="BaseResultMap" type="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="number" jdbcType="DECIMAL" property="number" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, address, userid, number, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    insert into eth_usdtuser (id, account, address, 
      userid, number, time
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{number,jdbcType=DECIMAL}, #{time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    insert into eth_usdtuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    update eth_usdtuser
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    update eth_usdtuser
    set account = #{account,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      number = #{number,jdbcType=DECIMAL},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="number" jdbcType="DECIMAL" property="number" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, address, userid, number, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    insert into eth_usdtuser (id, account, address, 
      userid, number, time
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{number,jdbcType=DECIMAL}, #{time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    insert into eth_usdtuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    update eth_usdtuser
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chain.modules.app.entity.omni.EthUsdtUserEntity">
    update eth_usdtuser
    set account = #{account,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      number = #{number,jdbcType=DECIMAL},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.chain.modules.app.omni.entity.EthUsdtUserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="number" jdbcType="DECIMAL" property="number" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, address, userid, number, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chain.modules.app.omni.entity.EthUsdtUserEntity">
    insert into eth_usdtuser (id, account, address, 
      userid, number, time
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{number,jdbcType=DECIMAL}, #{time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chain.modules.app.omni.entity.EthUsdtUserEntity">
    insert into eth_usdtuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chain.modules.app.omni.entity.EthUsdtUserEntity">
    update eth_usdtuser
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chain.modules.app.omni.entity.EthUsdtUserEntity">
    update eth_usdtuser
    set account = #{account,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      number = #{number,jdbcType=DECIMAL},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.chain.modules.app.entity.EthUsdtUserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="number" jdbcType="DECIMAL" property="number" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, address, userid, number, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eth_usdtuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chain.modules.app.entity.EthUsdtUserEntity">
    insert into eth_usdtuser (id, account, address, 
      userid, number, time
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{number,jdbcType=DECIMAL}, #{time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chain.modules.app.entity.EthUsdtUserEntity">
    insert into eth_usdtuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chain.modules.app.entity.EthUsdtUserEntity">
    update eth_usdtuser
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chain.modules.app.entity.EthUsdtUserEntity">
    update eth_usdtuser
    set account = #{account,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      number = #{number,jdbcType=DECIMAL},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>